<%- include("header") %>

    <h1 style="text-align:center;color:black;">Sachin Ronson Dsilva</h1>
    <p style="text-align: center; padding: 20px 100px;margin: 0 0 100px 0;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non commodi iure exercitationem illum inventore fuga,
        cumque dolores consequatur doloribus! Vitae porro nulla qui sunt minus velit repellendus quidem, dolorem dicta!
    </p>


    <%- include("footer") %>